@import '../fragments/variables.scss';
@import '../fragments/mixins.scss';

/* FORM */


.time-entry-section{
        display:flex;
        flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 3rem;
    .time-entry-container{
     

         
        .time-entry-form{
     display:flex;
        flex-direction: row;
         justify-content: center;
         align-items: center;

         .form-group{ 


            label{
               margin-right: 1rem;
            }

            input{
                padding:0.5rem 1rem;
                border:none;
                outline:none;
   margin-right: 1rem;
                &:first-child{
                 
                }

            }

             display:flex;
        
             justify-content: center;
             align-items: center;
             margin:1rem 0rem;


             
         }

         .form-buttons{

            button{

                border:none;
                outline:none;
                padding:0.5rem 1rem;
                cursor: pointer;
                background-color: $color-primary;
                color:$color-text-dark;
                @include globalTransition;

            &:hover{
                background-color: $color-accent;
            }
            }
         }

        }
    }
}


.input-error {
    border: 2px solid red !important;
    outline-color: red; 
}

.input-error:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); 
}